* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
}
body{
    background-image: url("bg-intro-desktop.png"); 
    background-color: hsl(0, 100%, 74%);
    font-family: 'Poppins', sans-serif;
}
.link {color: #de9f9f;
    text-decoration: none;
    font-weight: 500;
}
div.textbox {
    padding-top: 50px;
    margin-top: 50px;
    position: relative;
    width: 1280px;
    height: 400px;
}
div.boxes {
    position: absolute;
    top: 50px;
    right: 0%;

}
div.headerandtext {
    padding-left: 120px;
    padding-top: 70px;
   

}
.header {
    font-size: 50px;
    color: #f7eef3;
}
.text {
    font-size: 17px;
    color: #fad8d7;
}
.button2 {
    margin-top: 0px;
    border: none;
    margin-bottom: 5px;
    background-color: #5d54a3;
    width: 497px;
    border-radius: 7px;
    padding-bottom: 17px;
    padding-top: 15px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
}
div.container {
    background-color: #ffffff;
    width: 500px;
    height: 400px;
    margin-top: 0px;
    margin-right: 100px;
    border-radius: 7px;
    text-align: center;
}
.button1 {
    margin-top: 20px;
    background-color: #42c389;
    width: 415px;
    padding-bottom: 17px;
    border-radius: 7px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    border: none;
    font-family: 'Poppins', sans-serif;
}
.form {
    margin: 20px;
    border-radius: 7px;
}
.form input{
    width: 400px;
    padding-bottom: 27px;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    text-align: left;

}
.footer{
    color: lightgray;
    font-size: 11px;
}
@media only screen and (max-width: 1440px) {
    body {
    max-width: 370px;
    background-image: url("bg-intro-mobile.png");
    background-color: hsl(0, 100%, 74%);
    align-items: center;
    text-align: center;
    letter-spacing: 0.5px;
}
div.container {
    background-color: #ffffff;
    width: 310px;
    height: 370px;
    margin-top: 10px;
    border-radius: 7px;
    text-align: center;
    margin-left: 30px;
}
.button2 {
    background-color: #5d54a3;
    width: 310px;
    border: none;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 70px;
    padding-right: 70px;
    border-radius: 7px;
    color: #ffffff;
    cursor: pointer;
}
.button1 {
    background-color: #42c389;
    width: 260px;
    padding-top: 14px;
    padding-bottom: 13px;
    border: none;
    border-radius: 5px;
    letter-spacing: 1px;
    color: #ffffff;
    cursor: pointer;
}
.form {
    padding-top: 10px;
    border-radius: 10px;
}
.form input {
    margin: 10px;
    width: 250px;
    height: 35px;
    font-weight: 20px;
}
}
